@using Maletero.Models.Components

@model CreditCardDropDownViewComponent

<form method="post">
    <select asp-for="CreditCardDropDown" asp-items="Model.CreditCards"></select>
    <br /><button type="submit">Register</button>
</form>