@using Maletero.Models.Components

@model CreditCardDropDownViewComponent

<form method="post">
    <select asp-for="CreditCardProvider" asp-items="Html.GetEnumSelectList<CreditCardProviders>">

    </select>
    <br /><button type="submit">Register</button>
</form>