@using Maletero.Models.Components

@model CreditCardDropDownViewComponent

<form method="post">
    <select asp-for="GetCreditCardAsync" asp-items="Model.CreditCardProviders">

    </select>
    <br /><button type="submit">Register</button>
</form>