@model Maletero.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity;
@using Maletero.Models;

@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_Layout";
}

<body>
    <br />
    <h4>User Login:</h4>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>

        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>

        <button type="submit">Login</button>
    </form>

    @{ 
        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

        if (loginProviders.Count > 0)
        {
            <p>Login service providers</p>

            <form asp-action="ExternalLogin" method="post">
                @foreach(var serviceprovider in loginProviders)
                {
                    <button type ="submit" name="serviceprovider" value="@serviceprovider.Name" title="Log in with @serviceprovider.DisplayName">@serviceprovider.Name</button>
                }
            </form>
        }
    }
</body>
