@page "{id}"
@model Maletero.Pages.Admin.IndexModel;
@{
    ViewData["Title"] = "Manage";
    Layout = "_Layout";
}
<p>Inventory</p>

@using Maletero.Models.Interfaces

@inject IInventory ProductManagementService

@{
    Layout = "_Layout";
}

@{
    //posts is equal to list of posts returned by the service
    var products = await ProductManagementService.GetAll();
}
<div class="post-container">
    @foreach (var item in products)
    {
    <div class="post-item">
        <img src="@item.Image">
        <p>@item.Name</p>
        <p>@item.Price</p>
        <a class="btn btn-primary" role="button" asp-page="/Admin/InventoryManagement" asp-route-id="@Model.Product">Edit</a>
    </div>
    }
</div>
<p>orders</p>

