@page "{id}"
@model Maletero.Pages.Admin.InventoryManagementModel;
@{
    ViewData["Title"] = "Manage";
    Layout = "_Layout";
}

<div class="post-container">
    <div class="post-item">
        <form method="post">
            <div>
                <label asp-for="Product.Name">Name</label>
                <input asp-for="Product.Name" />
            </div>
            <br />
            <div>
                <button type="submit" class="btn btn-primary">save</button>
                <button type="submit" class="btn btn-danger" asp-page-handler="Delete">delete</button>
            </div>
        </form>
    </div>
</div>
