body {
    background-color: #251006;
    text-align: center;
    color: white;
    /*font-family: 'EB Garamond', serif;*/
    /*font-family: 'Alegreya', serif;*/
    /*font-family: 'cardo', serif;*/
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 8vh;
}

h4 {
    font-family: 'Playfair Display SC', serif;
}

.homelinks{
    text-align: right;
}

.container {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.item {
    /*border-radius: 20px;*/
    text-align: center;
    display: inline-block;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    /*border: 3px solid rgba(0, 0, 0, 0.8);*/
    /*margin: 1em;
    padding: 1em;*/
}

.stateEnum{
    width: 50%
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}
