@using Microsoft.AspNetCore.Identity
@using Maletero.Models
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Playfair+Display+SC|Vidaloka" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Cardo|Cormorant+Garamond|EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Maletero</h1>
    <p>Storing the finest quality bags for any journey, since 1916!</p>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/Home" class="navbar-brand">HOME</a>
            <a href="/Shop" class="navbar-brand">SHOP</a>
            <a href="/Cart" class="navbar-brand">CART</a>
            <a href="/" class="navbar-brand">Nav Item</a>
            <div>
                @if (signInManager.IsSignedIn(User))
                {
                    <span>Welcome to Maletero, @User.Claims.First(c => c.Type == "FullName").Value!</span>
                    <a href="/Account/Logout">Logout</a>
                }
                else
                {
                    <p>Please <a asp-controller="Account" asp-action="Login">Login</a> or <a asp-controller="Account" asp-action="Register">Register</a></p>
                }
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
