@{
    Layout = "_Layout";
}
@*<div class="homelinks">
    <a href="/Account/Login">Login</a>
    <a href="/Account/Register">Register</a>
    <a href="/Account/Logout">Logout</a>
</div>*@

<body>
    <img src="https://images.unsplash.com/photo-1421218108559-eb1ff78357f5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1190&q=80" />
    <br />
    <h4>Featured Products</h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top">
            <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
            <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
        </div>
        <!--/.Controls-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1509762774605-f07235a08f1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                             alt="Card image cap">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1525103504173-8dc1582c7430?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80"
                             alt="Card image cap">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1448582649076-3981753123b5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                             alt="Card image cap">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1505308144658-03c69861061a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                             alt="Card image cap">
                    </div>
                </div>

            </div>
            <!--/.First slide-->
        </div>
        <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->
</body>
