@using Maletero.Models
@using Maletero.Models.Services
@model IEnumerable<Maletero.Models.Product>

@inject ProductManagement Service

@{
    ViewData["Title"] = "Maletero Bags";
    Layout = "_Layout";
}


<div class="container">
    @foreach (var product in Model)
    {
        <img src="@product.Image" />
        <h1>@product.Name</h1>
        <p>@product.Price</p>
        <button><a asp-controller="Shop" asp-action="ShowBag" asp-route-id="@product.ID">More Info</a></button>
        <hr />
    }
</div>
