@using Maletero.Models
@using Maletero.Models.Services
@model IEnumerable<Maletero.Models.Interfaces.Product>

@inject ProductManagement Service

@{
    ViewData["Title"] = "Maletero Bags";
    Layout = "_Layout";
}


<div class="container">
    @foreach (var product in Model)
    {
        <img src="@product.Image" />
        <h1>@product.Name</h1>
        <p>@product.Description</p>
        <p>@product.Price</p>
        <button>Add to cart</button>
        <hr />
    }
</div>
