@using Maletero.Models
@using Maletero.Models.Services
@model Maletero.Models.Product

@inject ProductManagement Service

@{
    ViewData["Title"] = "Maletero Bags";
    Layout = "_Layout";
}


<div class="container">
    <form method="post">

    </form>
    <img src="@Model.Image" />
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <p>@Model.Price</p>
    <button>Add to cart</button>
    <hr />
</div>
